{{ define "banner" }}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

<!--                                TODO-->
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">単語</a></li>
                <li><a href="#" class="nav-link px-2 text-white">資料</a></li>
                <li><a href="#" class="nav-link px-2 text-white">QA</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <!--                <input type="label" style="disabled" class="form-control form-control-dark" placeholder="luck or Happiness" aria-label="Search">-->
                <div class="bg-dark text-success text-center border border-success rounded-pill p-2">
                    <h7> If you can’t, you must. If you must, you can !</h7>
                </div>
            </form>

            <div class="text-end">

<!--                TODO-->
<!--                <button type="button" class="btn btn-outline-light me-2">Login</button>-->
<!--                <button type="button" class="btn btn-warning">Sign-up</button>-->
            </div>
        </div>
    </div>
</header>
{{ end }}